@tailwind base;
@tailwind components;
@tailwind utilities;

.nober::-webkit-scrollbar {display: none;}
::-webkit-scrollbar:horizontal {height: 5px;}
::-webkit-scrollbar {width: 5px;}
::-webkit-scrollbar-thumb {background: #124d9d; }